#wrapper {
  width: 720px;
  margin-left: auto;
  margin-right: auto;


}
#header {
  height: 75px;
  width: 800px;
  background-color: #ccc;
  text-align: center;
  position: relative;
  font-size: 8px;
  font-family: arial;

}

#nav {
  height: 75px;
  width: 800px;
  background-color: #ccc;
  position: relative;
  font-size: 8px;
  font-family: arial;
}

#content {
  height: 250px;
  width: 395px;
  background-color: #ccc;
  position: relative;
  top: 0px;
  font-size: 8px;
  font-family: arial;
}

#article {
  height: 150px;
  width: 350px;
  background-color: grey;
  position: relative;
  top: -190px;
  left: 23px;
  font-size: 8px;
  font-family: arial;
}
#headings {
  height: 50px;
  width: 325px;
  background-color: #ccc;
  position: relative;
  left: 35px;
  top: -320px;
  font-size: 8px;
  font-family: arial;
}

#aside {
  height: 250px;
  width: 395px;
  background-color: #ccc;
  position: relative;
  left: 405px;
  top: -479px;
  font-size: 8px;
  font-family: arial;
}

#footer {
  height: 75px;
  width: 800px;
  background-color: #ccc;
  text-align: center;
  position: relative;
  font-size: 8px;
  bottom: 480px;
  font-family: arial;
}

h2 {
  text-align: center;
  font-weight: lighter;


}
